<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="publicKey" value="FLWPUBK-91eba98a643f51ca54ce84739140971c-X"/>
    <add key="secretKey" value="FLWSECK-37fea05521d3ce99d80e7ce521c8448e-X"/>

    <add key="accountNumber" value="0690000031"/>
    <add key="otp" value="12345"/>

    <add key="recurringPbKey" value="FLWPUBK-081586905d1c98d1f3e43d417573f077-X"/>
    <add key="recurringScKey" value="FLWSECK-677b8dac1f437adc0e6dfa7c97e8742c-X"/>

    <add key="testCardNo" value="5438898014560229"/>
    <add key="testCVV" value="789"/>
    <add key="testExpiryMonth" value="09"/>
    <add key="testExpiryYear" value="19"/>
    <add key="testPin" value="3310"/>
    <add key="testOtp" value="12345"/>




    <add key="preauthCardNo" value="5840406187553286"/>
    <add key="preauthCVV" value="116"/>
    <add key="preAuthExpiryMonth" value="09"/>
    <add key="preAuthExpiryYear" value="18"/>
    <add key="preauthPin" value="1111"/>
    <add key="preAuthOtp" value="12345"/>

    <add key="preauthPbkey" value="FLWPUBK-8cd258c49f38e05292e5472b2b15906e-X"/>
    <add key="preauthSecretKey" value="FLWSECK-c51891678d48c39eff3701ff686bdb69-X"/>


  </appSettings>
</configuration>